<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="아이디 입력">
        <br>
        <input type="password" name='password' placeholder="비밀번호 입력">
        <br>
        <button class="submit">로그인하기!</button>
    </form>
    {% if error %}
    {{error}}
    {% endif %}
</body>
</html>