{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>mainpage</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div id="navbar">
    <ul id="left-nav">
      <li><a href="#">홈</a></li>
      <li><a href="#">추천하기</a></li>
    </ul>
    <div id="logo">
      <img src="{% static 'images/lottelogo.jpeg' %}" height=60px;>
    </div>
    <ul id="right-nav">
      <li>추천마감까지 D-22</li>
      {% if user.is_staff %}
      <li><a href="{% url 'staff_main' %}">스태프 페이지 가기</a></li>
      {% endif %}
      {% if user.is_authenticated %}
      <li><a href="{% url 'logout' %}">로그아웃</a></li>
      {% else %}
      <li><a href="{% url 'login' %}">로그인</a></li>
      {% endif %}
    </ul>
  </div>
  <div id="bar">
    <p>재개봉 확인은 롯데시네마 인스타그램에서 </p>
  </div>

  <div id="topten">
    <p>8월 TOP 10</p>
  </div>
  <div class="movies">
    <div class="container">
      <div class="recommend_items">
        <a href="{% url 'detail' first.id %}"><img class="posterimage" src="{{first.poster_url}}"></a><br>
        <div class="movietitle">{{first.title}}</div>
        <div class="audience">{{first.released_date}}</div>
        <div class="recobutton"><a href="{% url 'vote' first.id %}"><input class="button" type="button" value="투표하기"></a></div>
      </div>
      <div class="recommend_items">
        <a href="{% url 'detail' second.id %}"><img class="posterimage" src="{{second.poster_url}}"></a><br>
        <div class="movietitle">{{second.title}}</div>
        <div class="audience">{{second.released_date}}</div>
        <div class="recobutton"><a href="{% url 'vote' second.id %}"><input class="button" type="button" value="투표하기"></a></div>
      </div>
      <div class="recommend_items">
        <a href="{% url 'detail' third.id %}"><img class="posterimage" src="{{third.poster_url}}"></a><br>
        <div class="movietitle">{{third.title}}</div>
        <div class="audience">{{third.released_date}}</div>
        <div class="recobutton"><a href="{% url 'vote' third.id %}"><input class="button" type="button" value="투표하기"></a></div>
      </div>
      <div class="recommend_items">
        <a href="{% url 'detail' fourth.id %}"><img class="posterimage" src="{{fourth.poster_url}}"></a><br>
        <div class="movietitle">{{fourth.title}}</div>
        <div class="audience">{{fourth.released_date}}</div>
        <div class="recobutton"><a href="{% url 'vote' fourth.id %}"><input class="button" type="button" value="투표하기"></a></div>
      </div>
      <div class="recommend_items">
        <a href="{% url 'detail' fifth.id %}"><img class="posterimage" src="{{fifth.poster_url}}"></a><br>
        <div class="movietitle">{{fifth.title}}</div>
        <div class="audience">{{fifth.released_date}}</div>
        <div class="recobutton"><a href="{% url 'vote' fifth.id %}"><input class="button" type="button" value="투표하기"></a></div>
      </div>
      <div class="recommend_items">
        <a href="{% url 'detail' sixth.id %}"><img class="posterimage" src="{{sixth.poster_url}}"></a><br>
        <div class="movietitle">{{sixth.title}}</div>
        <div class="audience">{{sixth.released_date}}</div>
        <div class="recobutton"><a href="{% url 'vote' sixth.id %}"><input class="button" type="button" value="투표하기"></a></div>
      </div>
      <div class="recommend_items">
        <a href="{% url 'detail' seventh.id %}"><img class="posterimage" src="{{seventh.poster_url}}"></a><br>
        <div class="movietitle">{{seventh.title}}</div>
        <div class="audience">{{seventh.released_date}}</div>
        <div class="recobutton"><a href="{% url 'vote' seventh.id %}"><input class="button" type="button" value="투표하기"></a></div>
      </div>
      <div class="recommend_items">
        <a href="{% url 'detail' eighth.id %}"><img class="posterimage" src="{{eighth.poster_url}}"></a><br>
        <div class="movietitle">{{eighth.title}}</div>
        <div class="audience">{{eighth.released_date}}</div>
        <div class="recobutton"><a href="{% url 'vote' eighth.id %}"><input class="button" type="button" value="투표하기"></a></div>
      </div>
      <div class="recommend_items">
        <a href="{% url 'detail' ninth.id %}"><img class="posterimage" src="{{ninth.poster_url}}"></a><br>
        <div class="movietitle">{{ninth.title}}</div>
        <div class="audience">{{ninth.released_date}}</div>
        <div class="recobutton"><a href="{% url 'vote' ninth.id %}"><input class="button" type="button" value="투표하기"></a></div>
      </div>
      <div class="recommend_items">
        <a href="{% url 'detail' tenth.id %}"><img class="posterimage" src="{{tenth.poster_url}}"></a><br>
        <div class="movietitle">{{tenth.title}}</div>
        <div class="audience">{{tenth.released_date}}</div>
        <div class="recobutton"><a href="{% url 'vote' tenth.id %}"><input class="button" type="button" value="투표하기"></a></div>
      </div>
    </div>
    <div id="gorecommand">
      <p>TOP 10외에 재개봉을 원하는 영화가 있다면?</p>
      <p>영화를 찾아 추천해주세요!</p>
    </div>
    <div id="mainsearchbar">
      <a href="{% url 'recommend' %}">더 많은 영화 찾아보기</a>
    </div>
</body>
</html>