{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>mainpage</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<!-- <script>
    var recobutton = true;
    function OnlyOneClick() {
        if (recobutton) {
            recobutton = false;
            return true;
        } else {
            return false;
        }
    }

  function insert() {
        var confirm_vote = confirm("투표하시겠습니까? *중복 투표는 불가합니다*");
        var ooc = OnlyOneClick();
        if ((ooc) && (confirm_vote == true)) {
            alert("투표되었습니다.");
        } else {
            alert("중복투표입니다.");
        }
    }

</script> -->


<body>
  <div id="navbar">
    <ul id="left-nav">
      <li><a href="#">홈</a></li>
      <li><a href="#">추천하기</a></li>
    </ul>
    <div id="logo">
      <img src="{% static 'images/lottelogo.jpeg' %}" height=60px;>
    </div>
    <ul id="right-nav">
      <li>추천마감까지 D-22</li>
      {% if user.is_staff %}
      <li><a href="{% url 'staff_main' %}">스태프 페이지 가기</a></li>
      {% endif %}
      {% if user.is_authenticated %}
      <li><a href="{% url 'logout' %}">로그아웃</a></li>
      {% else %}
      <li><a href="{% url 'login' %}">로그인</a></li>
      {% endif %}
    </ul>
  </div>
  <div class="bar">
    재개봉 확인은 롯데시네마 인스타그램에서 <img class="instagram" src="{% static 'images/instagram.png' %}" height=25px;>
  </div>

  <div id="topten">
    <img class="lotteicon" src="{% static 'images/lotteicon.png' %}" width="30px">
    <p>8월 TOP 10</p>
  </div>

  <div class="main_movies">
    <div class="c1">
      <div class="p1">
        <div class="wrapper">
          <div class="count">1위</div>
          <div class="check">확정</div>
          <a href="{% url 'detail' first.id %}?next={{request.path}}"><img class="posterimage"
              src="{{first.poster_url}}"></a>
        </div><br>
        <div class="movietitle">{{first.title}}</div>
        <div class="audience">{{first.released_date}}</div>
        <div class="recobutton">
          <form action="{% url 'vote' first.id %}" method="POST" onsubmit="confirmVote()">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit">투표하기</button>
          </form>
        </div>
      </div>
      <div class="p2">
        <div class="wrapper">
          <div class="count">2위</div>
          <div class="check">확정</div>
          <a href="{% url 'detail' second.id %}?next={{request.path}}"><img class="posterimage"
              src="{{second.poster_url}}"></a>
        </div><br>
        <div class="movietitle">{{second.title}}</div>
        <div class="audience">{{second.released_date}}</div>
        <div class="recobutton">
          <form action="{% url 'vote' second.id %}" method="POST" onsubmit="confirmVote()">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit">투표하기</button>
          </form>
        </div>
      </div>
      <div class="p3">
        <div class="wrapper">
          <div class="count">3위</div>
          <div class="check">확정</div>
          <a href="{% url 'detail' third.id %}?next={{request.path}}"><img class="posterimage"
              src="{{third.poster_url}}"></a>
        </div><br>
        <div class="movietitle">{{third.title}}</div>
        <div class="audience">{{third.released_date}}</div>
        <div class="recobutton">
          <form action="{% url 'vote' third.id %}" method="POST" onsubmit="confirmVote()">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit">투표하기</button>
          </form>
        </div>
      </div>
      <div class="p4">
        <div class="wrapper">
          <div class="count">4위</div>
          <div class="check">확정</div>
          <a href="{% url 'detail' fourth.id %}?next={{request.path}}"><img class="posterimage"
              src="{{fourth.poster_url}}"></a><br>

        </div>
        <div class="movietitle">{{fourth.title}}</div>
        <div class="audience">{{fourth.released_date}}</div>
        <div class="recobutton">
          <form action="{% url 'vote' fourth.id %}" method="POST" onsubmit="confirmVote()">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit">투표하기</button>
          </form>
        </div>
      </div>
      <div class="p5">
        <div class="wrapper">
          <div class="count">5위</div>
          <div class="check">확정</div>
          <a href="{% url 'detail' fifth.id %}?next={{request.path}}"><img class="posterimage"
              src="{{fifth.poster_url}}"></a><br>

        </div>
        <div class="movietitle">{{fifth.title}}</div>
        <div class="audience">{{fifth.released_date}}</div>
        <div class="recobutton">
          <form action="{% url 'vote' fifth.id %}" method="POST" onsubmit="confirmVote()">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit">투표하기</button>
          </form>
        </div>
      </div>
    </div>
    <div class="c2">
      <div class="p6">
        <div class="wrapper">
          <div class="count">6위</div>
          <div class="check">확정</div>
          <a href="{% url 'detail' sixth.id %}?next={{request.path}}"><img class="posterimage"
              src="{{sixth.poster_url}}"></a><br>

        </div>
        <div class="movietitle">{{sixth.title}}</div>
        <div class="audience">{{sixth.released_date}}</div>
        <div class="recobutton">
          <form action="{% url 'vote' sixth.id %}" method="POST" onsubmit="confirmVote()">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit">투표하기</button>
          </form>
        </div>
      </div>
      <div class="p7">
        <div class="wrapper">
          <div class="count">7위</div>
          <div class="check">확정</div>
          <a href="{% url 'detail' seventh.id %}?next={{request.path}}"><img class="posterimage"
              src="{{seventh.poster_url}}"></a><br>

        </div>
        <div class="movietitle">{{seventh.title}}</div>
        <div class="audience">{{seventh.released_date}}</div>
        <div class="recobutton">
          <form action="{% url 'vote' seventh.id %}" method="POST" onsubmit="confirmVote()">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit">투표하기</button>
          </form>
        </div>
      </div>
      <div class="p8">
        <div class="wrapper">
          <div class="count">8위</div>
          <div class="check">확정</div>
          <a href="{% url 'detail' eighth.id %}?next={{request.path}}"><img class="posterimage"
              src="{{eighth.poster_url}}"></a><br>
        </div>
        <div class="movietitle">{{eighth.title}}</div>
        <div class="audience">{{eighth.released_date}}</div>
        <div class="recobutton">
          <form action="{% url 'vote' eighth.id %}" method="POST" onsubmit="confirmVote()">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit">투표하기</button>
          </form>
        </div>
      </div>
      <div class="p9">
        <div class="wrapper">
          <div class="count">9위</div>
          <div class="check">확정</div>
          <a href="{% url 'detail' ninth.id %}?next={{request.path}}"><img class="posterimage"
              src="{{ninth.poster_url}}"></a><br>

        </div>
        <div class="movietitle">{{ninth.title}}</div>
        <div class="audience">{{ninth.released_date}}</div>
        <div class="recobutton">
          <form action="{% url 'vote' ninth.id %}" method="POST" onsubmit="confirmVote()">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit">투표하기</button>
          </form>
        </div>
      </div>
        <div class="p10">
          <div class="wrapper">
            <div class="count">10위</div>
            <div class="check">확정</div>
            <a href="{% url 'detail' tenth.id %}?next={{request.path}}"><img class="posterimage"
                src="{{tenth.poster_url}}"></a><br>

          </div>
          <div class="movietitle">{{tenth.title}}</div>
          <div class="audience">{{tenth.released_date}}</div>
          <div class="recobutton">
            <form action="{% url 'vote' tenth.id %}" method="POST" onsubmit="confirmVote()">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ request.path }}">
              <button type="submit">투표하기</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="gorecommand">
      <p>TOP 10 외에 재개봉을 원하는 영화가 있다면?</p>
      <p>영화를 찾아 추천해주세요!</p>
    </div>
    <div id="mainsearchbar">
      <a href="{% url 'recommend' %}">더 많은 영화 찾아보기</a>
    </div>
</body>
<script>
    function confirmVote() {
      var isValid = confirm('투표하시겠습니까? (중복 투표는 집계에서 제외됩니다)');
      if (!isValid) { 
        event.preventDefault();
      }
    }
</script>

</html>