{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>recommend</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div id="navbar">
    <ul id="left-nav">
        <li><a href="{% url 'main' %}">홈</a></li>
    </ul>
    <div id="logo">
        <img src="{% static 'images/lottelogo.jpeg' %}" height=60px;>
    </div>
    <ul id="right-nav">
      <li>추천마감까지 D-22</li>
      {% if user.is_staff %}
      <li><a href="{% url 'staff_main' %}">스태프 페이지 가기</a></li>
      {% endif %}
      {% if user.is_annonymous %}
      <li><a href="{% url 'login' %}">로그인</a></li>
      {% else %}
      <li><a href="{% url 'logout' %}">로그아웃</a></li>
      {% endif %}
    </ul>
  </div>

    <div id="searchbar">
      <form method='GET' action="{% url 'recommend' %}">
        <input type="text" name='query' placeholder="영화명을 입력해 주세요">
      </form>
    </div>
    {% if is_searched == False %}
    
    <div id="title">
        <h3>추천 영화</h3>
    </div>
    <div class="movies">
      {% for key, vals in results.items %}
      <div class="container">
        <h1 class="tagname">{{key}}</h1>
          {% for val in vals %}
        <div class="recommend_items">  
          <div class="recommend-wrap">
            {% if val.is_rereleased %}        
            <div class="check">확정</div>
            {% endif %}
            <a href="{% url 'detail' val.id %}"><img class="posterimage" src="{{val.poster_url}}"></a>
          </div><br>
          <div class="movietitle">{{val.title}}</div>
          <div class="audience">{{val.total_num}}표</div>
          <div class="recobutton"><a href="{% url 'vote' val.id %}">
            {% if user.is_authenticated %}
            <input class="button" type="button" value="투표하기"></a></div>
            {% else %}
            <input class="button" type="button" value="투표하기" disabled></a></div>
            {% endif %}
        </div>
        {% endfor %}
      </div>
        {% endfor %}
    </div>
    {% else %} <!-- 검색어 받았을 때 -->
    
    <div id="title">
      <h3>"{{query}}"에 대한 검색 결과입니다.</h3>
    </div>
    <div class="movies">
      <div class="container">
        {% for result in results %}
        <div class="recommend_items">
          <div class="recommend-wrap">
            {% if result.is_rereleased %}
            <div class="check">확정</div>
            {% endif %}
          <a href="{% url 'detail' result.id %}"><img class="posterimage" src="{{result.poster_url}}" height="263px"></a><br>
          </div>
          <div class="movietitle">{{result.title}}</div>
          <div class="audience">{{result.total_num}}표</div>
          <div class="recobutton"><a href="{% url 'vote' result.id %}">
            {% if user.is_authenticated %}
            <input onclick="confirm_vote()" class="button" type="button" value="투표하기"></a></div>
            {% else %}
            <input onclick="confirm_vote()" class="button" type="button" value="투표하기" disabled></a></div>
            {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
        
</body>
<script>
  function confirm_vote() {
  var confirm_vote = confirm("투표하시겠습니까? *중복 투표는 불가합니다*");
  if(confirm_vote == true) {
    alert("투표되었습니다.");
  }
}
</script>
</html>