<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="아이디 입력">
        <br>
        <input type="text" name="email_address" placeholder="이메일 입력">
        <br>
        <input type="password" name='password1' placeholder="비밀번호 입력">
        <br>
        <input type="password" name='password2' placeholder="비밀번호 다시 입력">
        <br>
        <select type="text" name="location" placeholder="지역선택">
            <option selected value="1">서울</option>
            <option value="2">경기북부</option>
            <option value="3">경기남부</option>
            <option value="4">인천</option>
            <option value="5">강원</option>
            <option value="6">대전</option>
            <option value="7">충청</option>
            <option value="8">대구</option>
            <option value="9">부산</option>
            <option value="10">울산</option>
            <option value="11">경상</option>
            <option value="12">광주</option>
            <option value="13">전라</option>
            <option value="14">제주</option>
        </select>
        <br>
        <button class="submit">회원가입하기!</button>
    </form>

    {% if error %}
    {{error}}
    {% endif %}

</body>
</html>