{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>롯데시네마-재개봉프로젝트</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div id="navbar">
    <ul id="left-nav">
    <li><a href="https://docs.google.com/presentation/d/1Hv5hKFQxH5U_CdWVXhC6mIyLMqjJxO009KEJIDX2WLU/edit?usp=sharing">프로젝트 소개</a></li>
    <li><a href="https://github.com/JungTag/Cinema">GitHub</a></li>
    </ul>
    <div id="logo">
      <a href="{% url 'main' %}"><img src="{% static 'images/lottelogo.jpg' %}" height=56px;></a>
    </div>
    <ul id="right-nav">
      {% if user.is_staff %}
      <li><a href="{% url 'staff_main' %}">스태프 페이지 가기</a></li>
      {% endif %}
      {% if user.is_authenticated %}
      <li><a href="{% url 'logout' %}">로그아웃</a></li>
      {% else %}
      <li><a href="{% url 'login' %}">로그인</a></li>
      <li><a href="{% url 'signup' %}">회원가입</a></li>
      {% endif %}
    </ul>
  </div>
  <div class="bar">
    <a href="https://www.instagram.com/lottecinema_official/?hl=ko" target="_blank">재개봉 확인은 롯데시네마 인스타그램에서 <img class="instagram" src="{% static 'images/instagram.png' %}" height=30px;></a>
  </div>
    <div class="notice">
    <div class="notice-content">
    <h2>{{address}}로 인증 메일이 발송되었습니다!</h2><br>
    <h1>이메일을 인증하고 계정을 활성화하세요!</h1>
    </div>
    </div>

</body>
</html>