/* notice */
html,
body {
  width: 100%;
  height: 100%;
}

.notice {
    text-align: center;
    height: 100%;
    position: relative;
  }
  
  .notice .notice-content {
    margin: 0;
    width: 100%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  
  .notice-content h2 {
    font-size: 40px;
  }
  
  .notice-content h1 {
    font-size: 60px;
  }
  
  
  @media screen and (max-width: 960px){
    .notice-content h2 {
      font-size: 30px;
    }
    .notice-content h1{
      font-size: 50px;
      }
    }
  /* notice */