* {
  box-sizing: border-box;
  background-color: black;
  font: normal normal bold 14px Helvetica Neue LT Std;
  color: #E5E5E5;
}

/* navbar */
#navbar {
  height: 60px;
  background: #1D1D1F 0% 0% no-repeat padding-box;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
}


#navbar a {
  background: #1D1D1F 0% 0% no-repeat padding-box;
}

#navbar #logo {
  height: 60px;
}


#navbar #right-nav {
  display: inline-block;
  width: 300px;
  position: absolute;
  float: right;
  padding: 0px;
  margin: 0px;
  right: 0px;
  line-height: 60px;
  background: #1D1D1F 0% 0% no-repeat padding-box;
}

#navbar #left-nav {
  position: absolute;
  float: left;
  padding: 0px;
  margin: 0px;
  width: 20%;
  line-height: 60px;
  background: #1D1D1F 0% 0% no-repeat padding-box;
}


#left-nav li {
  list-style: none;
  display: inline-block;
  font-weight: bold;
  font-family: Helvetica;
  vertical-align: middle;
  color: #FFFFFF;
  margin-left: 40px;
  background: #1D1D1F 0% 0% no-repeat padding-box;
}

#right-nav li {
  list-style: none;
  display: inline-block;
  font-weight: bold;
  font-family: Helvetica;
  vertical-align: middle;
  color: #FFFFFF;
  margin-right: 20px;
  background: #1D1D1F 0% 0% no-repeat padding-box;
}

right-nav ul {
  background: #1D1D1F 0% 0% no-repeat padding-box;
}


.bar {
width: 100%;
height: 50px;
background: #EC1A24 0% 0% no-repeat padding-box;
opacity: 1;
margin-top: 60px;
text-align: center;
color: white;
vertical-align: middle;
line-height: 50px;
left: 0px;
z-index: 98;
}

.bar .insta {
vertical-align: middle;
line-height: 50px;
display: inline-block;
background-color: red;
}

#logo {
  display: inline-block;
}



/* recommand page */

#searchbar {
text-align: center;
}

#searchbar input {
  border: 3px solid white;
  border-radius: 21px;
  opacity: 1;
  width: 624px;
  height: 54px;
  margin-top: 153px;
  padding-left: 60px;
  font-size: 15px;
}

h3 {
  color:#FFFFFF;
  margin-top: 100px;
  font-size: 17px;
  margin-left: 110px;
  margin-bottom: 20px;
}

h2 {
color: #FFFFFF;
margin-top: 20px;
font-size: 14px;
}

.movies {
  width: 100%;
  text-align: center;
}

.movies .container span {
font-size: 14px;
}


a {
text-decoration: none;
color: #FFFFFF;
}


.movies .container .items {
margin-right: 20px;
font-size: 14px;
width: 184px
}

.movies .container .items span {
width: 50%;
margin-left: 0px;
}


.container{
  display: inline-block;
  margin-bottom: 100px;
}

.recommend_items {
margin-right: 15px;
display: inline-block;
margin-top: 20px;
width: 184px;
height:350px;
position: relative;
}


.movies img {
margin-bottom: 10px;
border-radius: 10px;
width: 184px;
height: 262px;
}


.button input {
  border: 3px solid #FFFFFF;
  border-radius: 30px;
  display: inline-block;
  font-size: 12px;
  width: 100px;
  height: 34px;
}


.movies p {
margin-left: 220px;
margin-bottom: 20px;
font-size: 17px;
}

.movies .recobutton {
margin-top: 10px;
}

.recobutton input{
border: 2px solid white;
border-radius: 29px;
opacity: 1;
width: 90px;
font-size: 13px;
}

input:focus {
  outline: none;
}

.wrapper {
  position: relative;
  width: 184px;
  height: 267.72px;
  display:inline-block;
  z-index: 99;
  margin-bottom: 10px;
}


.main-recommend_items {
  display: ;
}


/*mainpage*/
#topten{
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
  line-height: 40px;
  vertical-align: middle;
  }
  
  #topten img {
  display: inline-block;
  line-height: 40px;
  vertical-align: middle;
  }
  
  #topten p {
  display: inline-block;
  font-size: 50px;
  }
  
  #gorecommand {
    margin-top: 50px;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
  }
  
  #gorecommand p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  }
  
  
  
  #mainsearchbar {
  text-align: center;
  width: 100%;
  margin-bottom: 328px;
  }
  
  #mainsearchbar a {
    font-size: 60px;
    border: 3px;
  }
  
  #topten .lotteicon{
    vertical-align: middle;
    margin-right: 20px;
    margin-top: -10px;
  }
  
  .instagram {
    vertical-align: middle;
    margin-left: 10px;
  }

.wrapper {
  position: relative;
  width: 184px;
  height: 267.72px;
  display:inline-block;
  z-index: 99;
}

.wrapper .count {
    position: absolute;
  top:0px;
  left:0px;
    width:184px;
    height:20px;
    background-color:#8B0000;
  vertical-align:middle;
  line-height:20px;
  border-radius: 5px 5px 0px 0px;
}


.main_movies img {
  width:184px;
  height: 267.72px;
  border-radius: 5px;
}

.main_movies div div {
  float:left;
  width: 184px;
  margin-right:30px;
  text-align:center;
  
}

.main_movies .c2 {
  display:inline-block;
  margin-bottom: 50px;
}

.main_movies {
  text-align:center;
  width:100%;
}

.main_movies .c1 {
  display:inline-block;
  margin-bottom: 40px;
}


/* detail */
#poster {
  width: 50%;
  float: left;
  text-align: center;
  margin-top: 190px;
  height: 700px;
}

#poster .movietitle {
  display: inline-block;
}

#poster #num {
  display: inline-block;
}

#poster .wrap {
  text-align: center;
}

#poster .wrap div {
  display: inline-block;
}

#poster .wrap {
  margin-left: 250px;
}

#poster img {
border-radius: 10px;
margin-bottom: 10px;
}

#poster .recobutton {
  margin-top: 10px;
  display: block;
}


#poster span {
margin-top: 10px;

}


#moviecontent h1 {
color: #FFFFFF;
font-size: 18px;
}


#moviecontent:not(:first-child) {
  text-align: left;
  font: normal normal normal 18px Noto Sans;
  letter-spacing: 0px;
  color: #E5E5E5;
  opacity: 1;
  height: 400px;
  width: 50%;
  margin-top: 250px;
  display: inline-block;
  }
  
  #moviecontent .content-div {
    width: 80%;
    margin-left: 30px;
    margin-top: 30px;
  }
  
  #moviecontent .content-div div {
    margin-bottom: 10px;
  }
  
  .content-div .content {
    margin-right: 20px;
  }

  #moviecontent tr span{
    padding-bottom: 100px;
    color: red;
  }
  .detail-button {
    display: inline-block;
    margin-top: 10px;
  }


  .staff-button input {
    border-radius: 30px;
    width: 35px;
    height: 35px;
    margin-right: 5px;
  }

  .release-button {
    background-color: blue;
    border: blue;
  }

  .delete-button {
    background-color: red;
    border: red;
  }

.wrapper .check {
      position: absolute;
    bottom:0px;
    right:0px;
      width:40px;
      height:20px;
      background-color:#8B0000;
    vertical-align:middle;
    line-height:20px;
    border-radius: 5px;
    margin-right: 0px;
  }

.detail-wrap {
  position: relative;
  height: 393px;
  margin-top: 80px;
}

.recommend-wrap .check {
    position: absolute;
    bottom:0px;
    right:0px;
      width:40px;
      height:20px;
      background-color:#8B0000;
    vertical-align:middle;
    border-radius: 5px;
    display: inline-block;
}

.recommend-wrap {
    position: relative;
    width: 184px;
    height: 262.72px;
    display:inline-block;
    z-index: 99;
  }

  .detail-wrap .check {
    position: absolute;
    bottom:0px;
    right:0px;
      width:40px;
      height:20px;
      background-color:#8B0000;
    vertical-align:middle;
    border-radius: 5px;
    display: inline-block;
  }


  .main-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    }

    .query-recommend_items {
        text-align: center;
        margin: 0 auto;
        display: inline-block;
        width: 19%;
        margin-bottom: 20px;
    }
    